############################
# Java compiled files
############################
*.class

############################
# Folders to ignore
############################
bin/
out/
target/

############################
# Eclipse IDE files
############################
.classpath
.project
.settings/

############################
# IntelliJ IDE files (if any)
############################
.idea/
*.iml

############################
# VS Code (if used)
############################
.vscode/

############################
# Logs
############################
*.log

############################
# System files (Windows/Mac)
############################
Thumbs.db
.DS_Store